.parent{
    width: 100vw;
    height: 100vh;
    background-color:blueviolet;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: green;
    text-align: center;
    line-height: 80px;
    overflow: auto;
}
.right{
    width: 80%;
    height: 100%;
    background-color:blue;
    overflow: auto;

}
button{
    width: 80%;
    height: 5%;
}